// app global css


@font-face {
  font-family: Ubuntu;
  src: url(./fonts/ubuntu.woff);
}

.prys_homepage
  background: url(../statics/pryspry.jpg) no-repeat center top fixed
  background-size: cover
  height: 100%
  overflow: hidden
  font-family: Ubuntu

.q-page.prys_homepage
  background: #000000ab

.prys_drawerhome .q-drawer
  background: #000000ab

.prys_drawerhome .q-drawer
  font-size: 20px
  font-weight: 700

.prys_drawerhome .q-item__label--caption
  color: #ccc

.prys_drawerhome .drawerlink a
  color: #ccc

.hero h1
  font-weight: 600
  text-transform: uppercase
  font-size: 70px
  margin-bottom: 0px
  line-height: 5rem
  color: #eee
  font-family: Ubuntu

.hero h3
  font-weight: 500
  font-size: 40px
  color: #eee
  margin-bottom: 0px
  font-family: Ubuntu

  
.hero p
  font-size: 16px
  color: #eee
  line-height: 30px
  font-family: Ubuntu

.prys_pagecontent.about h1
  font-size: 70px
  font-weight: 500
  color: #ddd
  font-family: Ubuntu


.prys_pagecontent.about .body
  font-size: 18px
  color: #bbb
  line-height: 30px
  font-family: Ubuntu

.pagetitle h1
  font-size: 40px
  font-weight: 500
  color: #ddd
  line-height: 50px
  font-family: Ubuntu

.body
  font-size: 18px
  color: #ccc
  line-height: 30px
  font-family: Ubuntu

@media (max-width: 768px)
  .q-page.prys_homepage
    background: transparent

  .prys_homepage
    background: url(../statics/prysprymobile.jpg) no-repeat center top scroll #000
    background-size: auto
    height: 100%
    overflow: hidden
    font-family: Ubuntu

  .hero h1
    font-weight: 600
    text-transform: uppercase
    font-size: 40px
    margin-bottom: 0px
    line-height: 5rem
    color: #eee
    font-family: Ubuntu

  .hero h3
    font-weight: 500
    font-size: 20px
    color: #eee
    margin-bottom: 0px
    line-height: 30px
    font-family: Ubuntu

  .body
    font-size: 16px
    color: #ccc
    line-height: 29px
    font-family: Ubuntu

 .prys_pagecontent.about h1
    font-size: 40px
    font-weight: 500
    color: #ddd
    margin-top: 10px;
    font-family: Ubuntu

  .prys_pagecontent.about .body
    font-size: 16px
    color: #bbb
    line-height: 30px
    font-family: Ubuntu
